.github_push h1{
    color: blue;
    text-decoration: underline;
    margin: 10px;
}
.github_push ol{
    color: tomato;
    font-weight: bold;
}
.github_push li{
    border: 5px solid green;
    margin: 5px;
    width: 20%;
    padding: 5px;
    background-color: aquamarine;
    text-align: center;
}
